@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dosis:wght@200;400;600&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:wght@200;300;400;600&family=Roboto:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 100;
    color: white;
    background: #030011;
} 

/* ________________________________________________________________________________ */
header{
    width: calc(100vw -0px);
    height: 100px;
    outline: solid 2px white;
}

    header .header-menu{
        display: flex;
        align-items: center;
    }

        header .header-menu img{
            margin: 0 10px;
        }
        
/* ________________________________________________________________________________ */
main{
    display: flex;
    justify-content: center;

}

    main .contenedor-principal{
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        text-align: center;

        /* remember to delete */
        /* background-color: blue; */
    }

    main .contenedor-principal article{
        margin: 60px 0;
        padding: 0 40px;
        width: 80%; 
        text-align: justify;
        
        /* remember to delete */
        /* border: solid 2px white;
        background-color: red; */
    }

    main .contenedor-principal .principal-title{
        margin: 50px 0;
        color: #504C5A;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 56px;
    }

/* .bloque1{

} */
    .bloque ul{
        font-family: 'Roboto Mono';
        font-weight: 300;
        font-size: 14px;
        margin: 15px 0;
        padding: 10px 20px;
        border: 2px solid rgba(128, 128, 128, 0.253);
        border-radius: 5px;

        color: yellow;
        background-color: rgb(0, 0, 0);
    }

    .bloque1 pre{
        padding: 10px 20px;
        border: 2px solid rgba(128, 128, 128, 0.253);
        border-radius: 5px;

        color: yellow;
        background-color: rgb(0, 0, 0);
    }

    /* .bloque1{

    } */

    .bloque ul li span{
        color:white;
    }

    .bloque li{
        list-style: none;
    }

    .bloque li::before{
        content:"$";
        color:white;
        margin-right:8px;
    } */


    .bloque h3{
        font-size: 22px;
    }

/* ________________________________________________________________________________ */
footer{
    height: 200px;

    background-color: blue;
}

.aside-class{
    padding: 20px 10px;
    height: 60vh;
    margin-top: 100px;

    /* remember to delete */
    background-color: #484150;
    border: 4px solid rgb(10, 94, 10);
    border-radius: 20px;
    font-size: large;
}

    .aside-class ul li {
        margin: 5px 0;
        list-style: none;
    }

        .aside-class ul li a{
            color: #fff;
            text-decoration: none;
        }

        .aside-class ul li a:hover{
            color: rgb(0, 0, 66);
        }

    .aside-class h3 {
        margin-top: 20px;
    }