@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    
}

.contenedorBlog {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-areas: 'head head'
                  'aside main';

    header {
        grid-area: head;
    }
    
    .header-blog {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 34px;
        display: flex;
        padding: 4rem;
        gap: 20px;
        justify-content: center;

        .info-blog {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            width: 40%;

            div {
                margin-top: 10px;
            }

            .principal-blog {
                
                .tag {
                    background-color: #d1f8df;
                    display: inline-block;
                    border-radius: 10px;
                    padding: 5px;
                }
        
                .fecha  {
                    margin-top: 20px;
                    color: green;
                }
            }

            .autor {
                display: flex;
                gap: 20px;
                align-items: center;

                .nombre-autor {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .aside {
        grid-area: aside;
        padding: 20px;
        position: sticky;
        height: 410px; 
        margin: 80px 100px 0px 100px;
        top: 100px;
        z-index: 2;
        border-radius: 10px;
        display: grid;
        grid-template-rows: 190px 20px;
    
        a {
            text-decoration: none;
            color: black;
        }
    
        h3{
            text-align: center;
            color: rgb(49, 49, 49);
    
            :hover{
                color: rgb(0, 0, 0);
                transition: all 400ms;
            }
        }
    
        ul{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
            justify-content: center;
            
            li{
                padding: 10px;
                
                :hover{
                    background-color: #979797;
                    border-radius: 5px;
                    padding: 10px;
                    width: 100%;
                    color: white;
                    margin: 0px 2px 0px 2px;
                    transition: all 400ms;
                }
            }
        }
    }

    .contenedor-principal {
        grid-area: main;
    }
}

