@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
header {
  background-image: url("headerImg.png");
  background-color: black;
  height: 320px;
  gap: 30px;
}

.navbar {
  grid-area: nav;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0);
  /*padding: 10px;*/
  display: grid;
  width: auto;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "image ul none";
  align-content: space-between;
  justify-content: center;
  box-sizing: border-box;
}
.navbar img {
  display: none;
}
.navbar ul {
  padding: 0;
  grid-area: ul;
  list-style-type: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul a {
  text-decoration: none;
  color: #8896AB;
}
.navbar ul a:hover {
  text-decoration: none;
  color: #fefefe;
}
.navbar ul li {
  display: flex;
  padding: 14px 20px;
  margin: 0px 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  transition: all 600ms;
}
.navbar ul li:hover {
  padding: 14px 20px;
}

.navbar-fixed {
  height: 90px;
  position: fixed;
  top: 0px;
  transition: all 600ms;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.89);
}
.navbar-fixed img {
  display: block;
  width: 80px;
  transition: all 600ms;
}

.navbar .active {
  border-radius: 5px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.navbar .active :hover {
  background-color: none;
  border-radius: 5px;
  padding: 0;
  color: white;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.footer {
  grid-area: footer;
  background-color: #000000;
  position: relative;
  width: 100%;
  top: 200px;
}
.footer .image {
  padding: 20px 40px;
  color: white;
}
.footer img {
  width: 180px;
}

@media screen and (max-width: 450px) {
  header img {
    width: 300px;
    height: 150px;
  }
  header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}/*# sourceMappingURL=nav_foot.css.map */