{% extends "Base/base.html" %}

{% load static %}

{% block content %}
<!--Contenedor principal-->
<div class="content">
    <div class="destacado">
        <h2>Destacado</h2>
        <div class="cont-noticia">
            <img src="{% static 'GrupoSoftware/css/images/1129x438.png' %}" alt="">
            <h3>Titulo de la Noticia</h3>
            <p>Breve descripcion</p>
        </div>
    </div>
    <div class="publicaciones">
        <h2>Publicaciones</h2>
        <div class="cont-publicaciones">
            
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="post imagen">
                <div class="info">
                    <h4><a href="{% url 'Git' %}">Tips sobre Git y GitHub</a></h4>
                    <p>Por <a href="#">Jonathan M.</a> 10 julio 2022</p>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <h4>Titulo super basico de la noticia que es muy larga</h4>
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <h4>Titulo super basico de la noticia</h4>
                    <p>Por <a href="#">Isael DILOCHE</a>  10 julio 2022</p>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <h4>Titulo super basico de la noticia</h4>
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <h4>Titulo super basico de la noticia</h4>
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <h4>Titulo super basico de la noticia</h4>
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <h4>Titulo super basico de la noticia</h4>
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <h4>Titulo super basico de la noticia</h4>
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}