{% extends "Base/base.html" %}

{% load static %}

{% block content %}
<!--Contenedor principal-->
<div class="content">
     <!-- SLIDER con el contenido destacado -->
     {% include "contenido/contenido-widget.html" %}
     
    <div class="publicaciones">
        <h2>Publicaciones</h2>
        <div class="cont-publicaciones">
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/img.png' %}" alt="">
                <div class="info">
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                    <h4>Titulo basico de la noticia que es muy larga</h4>
                    <a class="read" href="">Leer articulo ></a>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/img1.png' %}" alt="">
                <div class="info">
                    <p>Por <a href="#">Isael DILOCHE</a>  10 julio 2022</p>
                    <h4>Titulo basico de la noticia</h4>
                    <a class="read" href="">Leer articulo ></a>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/Git-Github.png' %}" alt="post imagen">
                <div class="info">
                    <p>Por <a href="#">Jonathan M.</a> 10 julio 2022</p>
                    <h4><a href="{% url 'Git' %}">Tips sobre Git y GitHub</a></h4>
                    <a class="read" href="{% url 'Git' %}">Leer articulo ></a>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                    <h4>Titulo basico de la noticia</h4>
                    <a class="read" href="">Leer articulo ></a>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                    <h4>Titulo basico de la noticia</h4>
                    <a class="read" href="">Leer articulo ></a>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                    <h4>Titulo basico de la noticia</h4>
                    <a class="read" href="">Leer articulo ></a>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                    <h4>Titulo basico de la noticia</h4>
                    <a class="read" href="">Leer articulo ></a>
                </div>
            </div>
            <div class="caja">
                <img src="{% static 'GrupoSoftware/css/images/320x200.png' %}" alt="">
                <div class="info">
                    <p>Por <a href="#">Isael DILOCHE</a> 10 julio 2022</p>
                    <h4>Titulo basico de la noticia</h4>
                    <a class="read" href="">Leer articulo ></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}