@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  position: relative;
}
.content .cont-noticia, .content .cont-publicaciones {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 54px;
  width: 100%;
  box-sizing: border-box;
}
.content .cont-noticia .titulo, .content .cont-publicaciones .titulo {
  color: white;
  top: 390px;
  left: 190px;
}
.content .cont-noticia .titulo p, .content .cont-publicaciones .titulo p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.content .cont-noticia .titulo h3, .content .cont-publicaciones .titulo h3 {
  margin: 0;
}
.content .cont-noticia {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.content .cont-noticia img {
  width: 100%;
}
.content .cont-noticia h3, .content .cont-noticia p {
  position: absolute;
  text-shadow: 0px 0px 2px black;
  color: white;
  left: 20px;
}
.content .cont-noticia h3 {
  position: absolute;
  bottom: 30px;
}
.content .cont-noticia p {
  position: absolute;
  margin: 0px;
  bottom: 10px;
}
.content .cont-publicaciones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px 0px;
}
.content .cont-publicaciones .caja {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  font-weight: 400;
  border-radius: 5px;
  font-size: 13px;
  line-height: 44px;
  background-color: white;
}
.content .cont-publicaciones .caja h4, .content .cont-publicaciones .caja p {
  margin: 0px;
}
.content .cont-publicaciones .caja .info {
  background-color: black;
  color: white;
  padding: 10px;
  height: 75px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content .cont-publicaciones .caja .info a {
  text-decoration: none;
  color: #A3BCFF;
}

.navbar {
  grid-area: nav;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  grid-area: nav;
  background-color: rgb(0, 0, 0);
  /*padding: 10px;*/
  display: grid;
  width: auto;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "image ul none";
  align-content: space-between;
  justify-content: center;
  box-sizing: border-box;
}

.navbar-fixed {
  height: 80px;
  position: fixed;
  top: 0px;
  transition: all 600ms;
  z-index: 2;
  box-shadow: 0px -2px 7px rgba(255, 255, 255, 0.15), 0px 5px 8px rgba(0, 0, 0, 0.25);
}

.navbar .active {
  background-color: #a15df8;
  border-radius: 5px;
  box-sizing: border-box;
}

.navbar .active a {
  color: white;
}

.navbar .active :hover {
  background-color: none;
  border-radius: 5px;
  padding: 0;
  color: white;
}

.navbar ul {
  padding: 0;
  grid-area: ul;
  list-style-type: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  display: flex;
  padding: 14px 20px;
  margin: 0px 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  transition: all 600ms;
}

.navbar ul li:hover {
  background-color: rgba(160, 93, 248, 0.356);
  padding: 14px 20px;
}

.navbar ul a {
  text-decoration: none;
  color: white;
}

.footer {
  grid-area: footer;
  background-color: #000000;
  position: relative;
  width: 100%;
  top: 200px;
}
.footer .image {
  padding: 20px 40px;
  color: white;
}
.footer img {
  width: 180px;
}

@media screen and (max-width: 700px) {
  .cont-noticia h3 {
    font-size: 1.2rem;
  }
  .cont-noticia p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 450px) {
  .content {
    width: 100%;
  }
  .cont-noticia h3, .cont-noticia p {
    left: 5px;
  }
  .cont-noticia h3 {
    font-size: 1rem;
    top: 50px;
  }
  .cont-noticia p {
    font-size: 0.7rem;
    top: 90px;
  }
  .publicaciones, .destacado {
    padding: 0px 10px;
  }
}
/* Slider contenedor de imagenes */
.slider {
  width: auto;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navigation-manual {
  display: flex;
  position: absolute;
  width: calc(100% - 40px);
  align-items: center;
  margin-top: -40px;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for automatic slider */
.navigation-auto {
  position: absolute;
  display: flex;
  width: calc(100% - 40px);
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

/* slide text */
.slide {
  position: relative;
}
.slide h1, .slide p {
  font-family: "Poppins";
  font-style: normal;
  margin-left: 40px;
  width: calc(100% - 140px);
  text-shadow: 1px 1px 2px #000000;
  color: white;
  position: absolute;
  display: flex;
  word-wrap: break-word;
}
.slide h1 {
  bottom: 90px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.slide p {
  bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}/*# sourceMappingURL=style.css.map */